image: maven:3.9.6-eclipse-temurin-17

stages:
  - build
  - test
  - package

build-job:
  stage: build
  script:
    - mvn -B clean compile

test-job:
  stage: test
  script:
    - mvn -B test

package-job:
  stage: package
  script:
    - mvn -B package -DskipTests
  artifacts:
    paths:
      - target/*.jar
